*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clicks{
    font-size: 50px;
}

.clickerBt{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: royalblue;
}